/*---Landing CSS--*/
landing {
  z-index: 10;
  clear: both;
  height: 500px;
  width: 100%;
  min-width: 1000px;
  display: block;
  margin: auto;
  box-shadow: 0px 3px 5px rgb(50,50,50);
  font-family: "Century Gothic", Verdana, sans-serif;
  font-weight: bold;

}