html, body {
	height: 100%;
	width: 100%;
	margin: 0px;

    /**Scaling background taken from 
    https://css-tricks.com/perfect-full-page-background-image/
    Need to fix nav bar to bottom of background image of landing page in order to be effective**/

    /*background: url(../assets/images/commons.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
}

.landing {
    z-index: -5;
    margin: auto;
    margin-top: -16px;
	position: relative;
	display: table;
	width: 100%;
	height: 752px;
    background-image: url(../assets/images/commons.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: palanquin;
}


.hidden {
    display: table-cell;
    vertical-align: middle;
    height: 752px;
    width: 100%;
    /**background: rgba(75, 117, 32, 0.8);**/
    background: rgba(0,0,0,0.7);
}


.logo-button {
    margin-top: -250px;
    margin-right: 20px;
    float: right;
    z-index: 5;
	width: 120px;
	height: 40px;
    border-radius: 5px;
    color: white; 
    border: 3px solid white;
    
}

.logo-button p {
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
}

.logo-button1 {
    margin-top: -250px;
    margin-right: 165px;
    float: right;
    z-index: 5;
	width: 120px;
	height: 40px;
    border-radius: 5px;
    color: white;
    border: 3px solid white;
}

.logo-button1 p {
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
}

.logo-line {
    position: relative;
    display: block;
    height: 200px;
    width: 700px;
    margin: 0 auto;
    padding-left: 100px;
    margin-top: 00px;
}

.logo-box {
    margin: auto;
    z-index: 5;
	width: 200px;
	height: 200px;
    background-color: white;
    border-radius: 25px;
}


/*****NAVBAR***/

.nav {
    height: 50px;
    width: 100%;
    background-color: #29A329;
    position: relative;
    }

.nav_fixed {
    z-index: 0;
    height: 50px;
    width: 100%;
    background-color: #29A329;
    position: fixed;
    top: 0;
    left: 0;
}


.nav ul {
    height: 100%;
    margin: 0;
    text-align: center;
    text-decoration: none;
}

.nav_fixed ul {
    z-index: 0;
    height: 100%;
    margin: 0;
    text-align: center;
    text-decoration: none;
}


.nav ul li {
    display: inline-block;
    padding-left: 12.5px;
    padding-right: 12.5px;
    padding-top: 10px;
    padding-bottom: 10px;
    
   
}

.nav ul li a {
    text-decoration: none;
    font-family: palanquin;
    /*background-color: #29A329;*/
    color: #FFFFFF;
}

.nav_fixed ul li {
    z-index: 0;
    display: inline-block;
    padding-left: 12.5px;
    padding-right: 12.5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav_fixed ul li a {
    text-decoration: none;
    font-family: palanquin;
    /*background-color: #29A329;*/
    color: #FFFFFF;
}

.nav li:hover, .nav li:active, .nav_fixed li:hover, .nav_fixed li:active {
    text-decoration: none;
    font-family: palanquin;
    background-color: #2EB82E;
    color: #FFFFFF;
    transition: 0.3s;
}

/*NAV BAR SUBSECTIONS*/
.subheader {
    display: none;
    height: 100%;
    margin: 0;
    text-align: left;
    text-decoration: none;
}

.subheader ul{
    display: block;
    position: absolute;
    min-width: 160px;
}

.subheader ul li {
    display: block;
    /*background-color: #FFFFFF;*/
    color: #29A329;
    border: #000000;
    text-align: center;
    background-color: #FFFFFF;
    border: black 2px;
}

.nav ul li:hover .subheader{
    display: block;
}

.nav_fixed ul li:hover .subheader{
    display: block;
}

.subheader li:hover .subheader li{
    background-color: #f1f1f1;
}

.subheader ul li a {
    display: block;
    text-decoration: none;
    font-family: palanquin;
    /*background-color: #FFFFFF;*/
    color: #29A329;
}

/**MAIN_CONTENT**/

.bar1 {
    z-index: -5;
	position: relative;
	display: block;
	width: 100%;
	height: 1200px;
	background-color: blue;
}

.bar2 {
    z-index: -5;
	position: relative;
	display: block;
	width: 100%;
	height: 1200px;
	background-color: red;
}










/* RESPONSIVENESS*/

@media (max-width: 750px) {
    
    .landing {
        z-index: -5;
        margin: auto;
        margin-top: -16px;
        position: relative;
        display: table;
        width: 100%;
        height: 402px;
        background-image: url(../assets/images/commons.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        font-family: palanquin;
    }
        
    .hidden {
        display: table-cell;
        vertical-align: middle;
        height: 402px;
        width: 100%;
        display: block;
        margin: 0 auto;
        /**background: rgba(75, 117, 32, 0.8);**/
        background: rgba(0,0,0,0.7);
    }

    .logo-line {
        position: relative;
        display: block;
        height: 100px;
        width: 400px;
        margin: 0 auto;
        padding-left: 100px;
        margin-top: 00px;
    }

    .logo-button {
        margin-top: -250px;
        /*margin-right: 20px;*/
        float: center;
        display: block;
        margin: 0 auto;
        z-index: 5;
        border-radius: 5px;
        color: white; 
        border: 3px solid white;
    
    }

    .logo-button p {
        margin: 0 auto;
        text-align: center;
        font-size: 20px;
    }

    .logo-button1 {
        margin-top: -250px;
        /*margin-right: 165px;*/
        float: center;
        display: block;
        margin: 0 auto;
        z-index: 5;
        border-radius: 5px;
        color: white;
        border: 3px solid white;
    }

    .logo-button1 p {
        margin: 0 auto;
        text-align: center;
        font-size: 20px;
    }
    
    
}

@media (max-width: 320px) {
    
    .landing {
        z-index: -5;
        margin: auto;
        margin-top: -16px;
        position: relative;
        display: table;
        width: 100%;
        height: 202px;
        background-image: url(../assets/images/commons.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        font-family: palanquin;
    }
        
    .hidden {
        display: table-cell;
        vertical-align: middle;
        height: 202px;
        width: 100%;
        /**background: rgba(75, 117, 32, 0.8);**/
        background: rgba(0,0,0,0.7);
    }

    .logo-line {
        position: relative;
        display: block;
        height: 30px;
        width: 100px;
        margin: 0 auto;
        padding-left: 100px;
        margin-top: 00px;
    }

    .logo-button {
        margin-top: -250px;
        margin-right: 20px;
        /*float: center;*/
        display: block;
        margin: 0 auto;
        z-index: 5;
        border-radius: 5px;
        color: white; 
        border: 3px solid white;
    
    }

    .logo-button p {
        margin: 0 auto;
        text-align: center;
        font-size: 20px;
    }

    .logo-button1 {
        margin-top: -250px;
        margin-right: 165px;
        /*float: center;*/
        display: block;
        margin: 0 auto;
        z-index: 5;

        border-radius: 5px;
        color: white;
        border: 3px solid white;
    }

    .logo-button1 p {
        margin: 0 auto;
        text-align: center;
        font-size: 20px;
    }
    
    
}
    
    



